body {
  text-align: center;
}
.buttons-container {
  padding: 2rem 0;
  display: inline-flex;
  text-align: left;
}
label {
  display: block;
}

.container {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  display: inline-flex;
  width: 200px;
  height: 150px;
  margin: 5px;
}

.logo {
  position: absolute;
  width: 60px;
  bottom: 20px;
  right: 30px;
}

.purple {
  background-color: rgb(125, 70, 150);
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
